aside
      .container
        .intro-text
          .intro-lead-in Welcome To Our Studio!
          .intro-heading It's Nice To Meet You
          a.page-scroll.btn.btn-yellow(href='#services') Tell Me More