@mixin button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color:$border;

	&:hover,
	&:focus,
	&:active,
	&.active,
	.open .dropdown-toggle{
		color: $color;
		background-color: rgba($background, 0.10);
        border-color: rgba($border, 0.12);
	}
	&:active,
	&.active,
	.open .dropdown-toggle{
		background-image: none;
	}
	&.disabled,
	&[disabled],
	fieldset[disabled]{
		&,
		&:hover,
		&:focus,
		&:active,
		&.active {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

// Background Features

@mixin background-cover() {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

// Font Selections

@mixin droid-font() { //serif
	font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin kaushan-font() { // script
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin roboto-font() { // body
	font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin repeat-font() { //heading
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
